.brand-logo img {
	margin-top: 7px;
}


.parallax-container {
	height: 300px

}

.parallax img {
	opacity: 0.5 !important;

}

.container .col .img {
	float: left;
	width: 200px;
	height: 200px;
}


.container .col .about li {
	list-style-type: disc;
	margin-left: 230px;
}

.row .col ul li {
	list-style-type: disc;
}

section, footer {
	padding: 20px 0;
}

.wa {
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 100px;
	margin-top: -40px;
}








